@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Bauhaus;
  src: url(https://www.fontmirror.com/app_public/files/t/1/bauh93_adea4bebe85d578f77b3370241de7387.ttf)
    format("ttf");
}

* {
  font-family: "NanumBarunGothic";
}

body {
  background-color: #222;
  color: #eee;
}

.material-symbols-outlined {
  width: 44px;
  height: 44px;
  color: black;
  font-family: "Material Icons";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  pointer-events: none;
}

.iconV {
  fill: none;
  height: max-content;
  width: max-content;
  font-size: 24px;
}
