.main {
  padding-left: 4px;
}

.btn {
  outline: none;
  border: none;
  height: 100%;
  width: max-content;
  transition-duration: 0.4s;
  background: #f85060;
  color: #f2f2f2;
  padding: 15px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 8px;
}

.feature {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: #282833;
  margin-bottom: 16px;
}

/* 

  POI.Component.Input

*/

.ctn {
  background: rgb(22, 167, 234) !important;
}

.ctn:disabled {
  cursor: no-drop;
  background: rgb(18, 144, 202) !important;
}

.inputContainer {
  height: 2rem;
  display: flex;
  cursor: text;
  background-color: #f2f2f2;
  color: 222;
  border-radius: 8px;
  width: 100%;
  padding: 18px 24px;
}

.input {
  outline: none;
  border: none;
  position: relative;
  width: 100%;
  margin-left: 28px;
  font-size: 18px;
  background: none;
  transform: translateY(2px);
}

.pInputIconContainer {
  display: inline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  max-height: 24px;
}

.pInputIcon {
  position: absolute;
  transform: translateY(4px);
}

/*

Flexable CSS

*/

@media (max-width: 810px) {
  .btn {
    margin-top: 8px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }
  .inputContainer {
    max-width: calc(100% - 48px);
  }
  .feature {
    padding: 16px 0px !important;
  }
}

.btn:hover {
  background: rgb(205, 86, 98);
}

.btn:disabled {
  cursor: no-drop;
  background: #b43945;
}

.modal {
  width: 3rem;
  display: none;
}

.btn:hover > .imgx {
  transition: all 0.2s ease-in-out;
}

.btn:hover > .imgx {
  transform: translateX(4px);
}

.btn:active:not(.btn:disabled) > .imgx {
  transform: translateX(8px);
}

.imgx.active {
  position: fixed;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 100000;
}
