.main {
  padding-left: 4px;
}
.title {
  font-size: 2.5rem;
  padding-top: 10px;
  margin: 0px;
}
.desc {
  padding-top: 10px;
  font-size: 21px;
}
@media (max-width: 800px) {
  .desc {
    font-size: 18px;
  }
}

.iptt {
  height: 2rem;
  display: flex;
  cursor: text;
  background-color: #f2f2f2;
  color: 222;
  border-radius: 8px;
  width: 100%;
  max-width: 560px;
}

.ipt {
  outline: none;
  border: none;
  position: relative;
  width: 100%;
  margin-left: 16px;
  font-size: 18px;
  background: none;
}

.btn {
  outline: none;
  border: none;
  height: 100%;
  width: max-content;
  transition-duration: 0.4s;
  background: #f85060;
  color: #f2f2f2;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 8px;
}

@media (max-width: 751px) {
  .btn {
    margin-top: 8px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }
  .iptt {
    max-width: calc(100% - 48px);
  }
}

.btn:hover {
  background: rgb(205, 86, 98);
}

.btn:disabled {
  cursor: no-drop;
  background: #b43945;
}

.modal {
  width: 3rem;
  display: none;
}

.ctn {
  background: rgb(22, 167, 234);
}

.ctn:disabled {
  cursor: no-drop;
  background: rgb(18, 144, 202);
}
