header {
  position: sticky;
  top: 0;

  background: deeppink;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
