.dib {
  display: inline-block;
}

.db {
  display: block;
}

.dtr {
  display: table-row;
}

.dtr > * {
  display: table-cell;
}

@media (max-width: 810px) {
  .dtr {
    display: block;
  }

  .dtr > * {
    display: block;
  }
}

.vam {
  display: inline-block;
  vertical-align: middle;
}

.secName {
  margin: 0px;
  padding-bottom: 0px;
}

.secName > desc {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  color: #aaaaaa;
}
